#basket-mobile {
    display: none;
}

.body-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.body-img img {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.85;
}

/* #region Header-content */
.logo {
    font-size: 32px;
    font-weight: 700;
    color: white;
    height: 40px;
    object-fit: contain;
}

.nav-logo {
    height: 24px;
    cursor: pointer;
}

.restaurant-info .top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    text-align: center;
    gap: 8px;

    .bh-and-rating {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        flex-wrap: wrap;
        margin-bottom: 8px;

        .bg {
            color: rgba(231, 108, 31, 1);
        }

        h1 {
            font-size: 42px;
            font-family: "Palanquin Dark";
            font-weight: 700;
            color: rgba(54, 53, 52, 1);
        }

        img {
            height: 28px;
            object-fit: contain;
        }
    }
    p {
        font-size: 22px;
        font-family: "Palanquin";
        color: rgba(54, 53, 52, 1);
        font-weight: 700;
        max-width: 600px;
    }
}

.burger-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    margin-top: -60px;
    position: relative;
    z-index: 10;

    img {
        background: white;
        border: 4px solid #e76d1f;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        padding: 8px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    }
}
/* #endregion  */

/* #region Hilfeklasse für die zentrierung des Inhalts */
.content-width {
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.main-layout {
    display: flex;
    gap: 30px;
    padding: 0 20px 100px 20px;
    align-items: flex-start;
}

.menu-container {
    flex: 1;
}

.category-wrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
    margin-top: 60px;
}

header,
footer,
.full-width-orange {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    background-color: #e76d1f;
    align-items: center;
    z-index: 10;
    padding: 0;
}

header::before,
footer::before,
.full-width-orange::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100vw;
    right: -100vw;
    background-color: #e76d1f;
    z-index: -1;
}

header {
    width: 100%;
    height: 128px;
    background-color: rgba(231, 108, 31, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.headline-content {
    width: 100%;
    max-width: 1440px;
    display: flex;
    margin: 0 auto;
    padding: 0 20px;
}

.headline-text-wrapper {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 712px;
    margin: 0 auto;
    gap: 20px;
}

.headline-text-wrapper img {
    width: 88px;
    height: auto;
    margin-top: -45px;
    position: absolute;
    z-index: 20;
    margin-left: 26px;
}

.headline-text-wrapper h2 {
    color: white;
    font-size: 40px;
    font-family: "palanquin";
    margin-left: 150px;
    font-weight: 700;
}

.dishes-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "palanquin";
    margin: 0 auto;
    top: 10px;
}
/* #endregion */

/*  #region Menu cards - template JS */
.menu-card {
    display: flex;
    background-color: #fcead1;
    border-radius: 12px;
    padding: 16px;
    width: 100%;
    max-width: 712px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.menu-img img {
    width: 140px;
    height: 121px;
    object-fit: cover;
    border-radius: 12px;
}

.menu-info-center {
    flex: 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    h4 {
        margin: 0;
        font-size: 20px;
        font-weight: 700;
    }

    p {
        margin: 0;
        font-size: 16px;
        line-height: 1.2;
        color: #666;
    }
}

.menu-action-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.price-top {
    font-size: 18px;
    font-weight: 700;
}

.menu-button {
    color: rgba(54, 53, 52, 1);
    background: rgba(255, 255, 255, 1);
    border: 1.5px solid #e76d1f;
    font-size: 16px;
    border-radius: 20px;
    font-weight: 700;
    cursor: pointer;
    padding: 6px 16px;
    white-space: nowrap;
}
/* #endregion */

/* #region Dishes */
#burger-dishes,
#pizza-dishes,
#salad-dishes {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    gap: 15px;
}
/* #endregion  */

/* #region Footer */
footer {
    width: 100%;
    height: 128px;
    padding: 55px 0;
    background-color: rgba(231, 108, 31, 1);

    .footer-content {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Palanquin";
        font-size: 18px;
        color: white;
        gap: 40px;
    }
}

.copy-text {
    display: flex;
    align-items: center;
    gap: 8px;
}
/* #endregion */

/* #region mobile-navbar */
#mobile-navbar {
    display: none;
}
/* #endregion */
