.basket-sidebar {
    width: 360px;
    position: sticky;
    top: 10px;
    z-index: 100;
    margin-top: 60px;
}

#basket-content{
    /* overflow-y: auto; */
}

.close-mobile{
    display: none;
}

.basket-card {
    background-color: #363634;
    color: white;
    border-radius: 20px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    max-height: 90vh;
}

.basket-title {
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 32px;
    margin-bottom: 20px;
}

.order-items-list {
    max-height: 380px;
    padding-right: 8px;
    margin: 16px 0;
    margin-top: 16px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
}

.order-items-list::-webkit-scrollbar-track{
    background: #353436;
}

.order-items-list::-webkit-scrollbar-thumb{
    background: rgba(231, 195, 173, 1);
    border-radius: 15px;
}

.basket-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fdead7;
    color: #363534;
    border-radius: 15px;
    padding: 10px;
}

.item-info {
    font-family: palanquin;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 8px;
    font-size: 22px;
}

.item-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-controls{
    display: flex;
    align-items: center;
    gap: 12px;
    border: 1.5px solid #343231;
    border-radius: 20px;
    padding: 2px 10px;
    color: #363534;
}

.item-price {
    font-family: palanquin;
    font-weight: 700;
    color: #343231;
    font-size: 18px;
}

.quantity-controls button{
    background: none;
    border: none;
    color: #e76d1f;
    font-size: 20px;
    cursor: pointer;
    font-weight: 700;
}

.basket-summery-box {
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 12px;
    padding: 15px;
    flex-shrink: 0;
}

.summery-line {
    display: flex;
    margin-bottom: 5px;
    justify-content: space-between;
    font-family: palanquin;
    color: white;
}

.total-line {
    border-top: 2px solid;
    padding-top: 10px;
    margin-top: 10px;
    font-family: "palanquin";
    font-size: 18px;
    color: rgba(255, 255, 255, 1);
}

.buy-button {
    margin-top: 20px;
    background-color: rgba(231, 108, 31, 1);
    color: white;
    font-size: 32px;
    border: none;
    border-radius: 60px;
    padding: 8px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    font-family: "palanquin";
}

.empty-basket{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 22px;
    color: #fcead1;

    h3{
        font-size: 32px;
    }

    p{
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
}