*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    text-decoration: none;
    position: relative;
    list-style: none;
    font-size: inherit;
    color: inherit;
    font-family: inherit;
    background: initial;
    border: initial;
}

body{
    background-color: #faf6f0;
    color: #363534;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

body.no-scroll, html.no-scroll {
    overflow: hidden;
    height: 100vh;
}

main{
    flex: 1;
}